//! Overwriting Laravel defaults with custom sass
@import '_variables';
/**
* MyMethod
* * All font-includes
* TODO: remove all redundant font-includes
*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/**
* * Typography
*/
h1, h2, h3, h4 {
    font-weight: 100;
}
h1, h2, h3, h4, p, li, span {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

/**
* * Navigation
*/
nav.navbar {
    background-color: $orange;
    a.navbar-brand img {
        height: 50px;
        &:hover {
            opacity: .8;
        }
    }
    a.dropdown-item {
        color: $black;
    }
    li.nav-item a.nav-link {
        opacity: .8;
        color: $white;
        &:hover, &:focus {
            opacity: 1;
            color: $white;
        }
    }
}