//! Overwriting Laravel defaults with custom sass
@import '_variables';
/**
* MyMethod
* * All font-includes
* TODO: remove all redundant font-includes
*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

/**
* * Typography
*/
h1, h2, h3, h4 {
    font-weight: 100;
}
h1, h2, h3, h4, p, li, span {
    font-family: 'Open Sans', sans-serif;
}
p, li, span {
    font-size: 1rem;
}
h1 {
    text-align: center;
    margin: 50px 0;
}
span.sub-header {
    font-weight: bold;
    margin-bottom: 10px;
}

/*
* * Buttons
*/
button.btn, a.btn, input.btn {
    &.btn-light {
        border: 1px solid $black;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}
p.btn-top {
    text-align: center;
}

/*
* * Card
*/
div.card {
    margin: 25px 0;
    div.card-body {
        h3 {
            text-align: center;
        }
    }
    // Ticket closed
    span.ticket-closed {
        background-color: $red;
        color: $white;
        font-size: 10px;
        padding: 5px;
        font-weight: bold;
    }
    &.ticket-wrap {
        padding: 25px;
        background-color: white;
    }
}
div.card-attachments-container {
    text-align: center;
    div.card-attachment-container {
        display: inline-block;
        margin-top: 0;
        div.card-attachment {
            padding: 15px;
            div.attachment-image-div {
                height: 10rem;
                background-position: center;
            }
        }
    }
}

/**
* * Navigation
*/
nav.navbar {
    background-color: $orange;
    span.ticket-count {
        background-color: $white;
        color: $orange;
        font-weight: bolder;
        padding: 0 7px;
        border-radius: 5px;
    }
    a.navbar-brand img {
        height: 50px;
        &:hover {
            opacity: .8;
        }
    }
    a.dropdown-item {
        color: $black;
    }
    li.nav-item a.nav-link {
        opacity: .8;
        color: $white;
        &:hover, &:focus {
            opacity: 1;
            color: $white;
        }
    }
}